[Unit]
Description=Solana Snapshot Delivery Network (SSDN) lightweight gossip client and proxy
After=network.target

[Service]
Type=simple
User=gossip-client
Group=gossip-client
ExecStart=/usr/sbin/snapshot-gossip-client -c /etc/gossip-client/config.toml
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
